img.letter-image {
  margin-top: 10px;
  margin-bottom: 14px;
}

div.verse.text {
  color: black;
}

div.verse.id {
  color: black;
}

div {
  text-align: center;
}

/*Styling for the textbox*/
input#typeans{
  text-align: center;
}